<head>
    <link href="/css/diagnosis.css" rel="stylesheet">
    <!-- <link href="/css/calendar/calendar_memory.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<div class="diagnosis_wrapper">
  <div class="diagnosis_container">
    <div class="title"> <p>이용자 캘린더 정보 내보내기</p> </div>
    
    <div class="col-lg-5 pt-lg-0 order-2 order-lg-1  justify-content-center">
        <p> 의사 선택 </p>

     </div>
        <input class="inputbX" type="text" name="diarytext" placeholder="감정 조절 불가">  
    </div>


    <div class="send">
        <input type="submit" value="나에게 전송" id="to-me-submit" class="btn btn-success btn-user btn-block">
        <input type="submit" value="의사에게 전송" id="to-doctor-submit" class="btn btn-success btn-user btn-block">
    </div>

  </div>
</div>
