<head>
    <link href="/css/security.css" rel="stylesheet">
    <!-- <link href="/css/calendar/calendar_memory.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script language="javascript">
      function inputPW(form) {
      
      if (form.pass.value=="1234") {
      
      location="/diagnosis/export"
      
      } else {
      
      alert("패스워드가 틀립니다.")
      
      }
      
      }
      
      </script>
  </head>
  
<div class="security_wrapper">
  <div class="security_container" >
    <div class="security_title">
      <p>해당 페이지는 비밀번호 입력으로 이용가능합니다.</p>
    </div>  
    <div class="security_form">
      <form name="loginForm">
      <p style="margin-bottom:20;"> 비밀번호입력
      <input name="pass" type="password" size="12">
      <input type="button" class="security_Btn" value="확 인" onClick="inputPW(this.form)">
      <br>
</form></div></div>
</div>
