<head>
    <link href="/css/calendar.css" rel="stylesheet">
    <!-- dd -->
</head>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
  
      <div class="container">
        <div class="row">
           <!-- ======= calendar ======= -->

          <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
            <table class="scriptCalendar">
              <thead>
                  <tr>
                      <td onClick="prevCalendar();" style="cursor:pointer;">&#60;&#60;</td>
                      <td colspan="5">
                          <span id="calYear">YYYY</span>년
                          <span id="calMonth">MM</span>월
                      </td>
                      <td onClick="nextCalendar();" style="cursor:pointer;">&#62;&#62;</td>
                  </tr>
                  <tr>
                      <td>일</td><td>월</td><td>화</td><td>수</td><td>목</td><td>금</td><td>토</td>
                  </tr>
              </thead>
              <tbody></tbody>
            </table>        
          </div>
          <!-- ======= symtom_check ======= -->
          <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" > 
            <div class = "symtom_check">
              <p> 증상체크란</p>
            </div>
          </div>
          
  
        </div>
      </div>
  
    </section><!-- End Hero -->
  