<head>
  <link href="/css/community.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>




<!-- MAIN SECTION -->
<section id="hero" class="d-flex align-items-center">
  <main id="about">
    <div class="col-lg-5 pt-lg-0 order-2 order-lg-1 justify-content-center">
      <div class = "community-container">

      </div>
    
      
    </div>
    
    
  </main>
</section>