<head>
  <!-- <link href="/css/community.css" rel="stylesheet"> -->
  <link href="\css/community.css" rel="stylesheet">
</head>

<div class = "community-container">
  <span class = "counseling">고민상담소</span>
  <span class = "sharing">정보 공유</span>
  <div class = "writing-container"></div>
</div>
