<head>
  <link href="/css//community/community-side.css" rel="stylesheet">
</head>
<script>
  // DOM 요소 가져오기
  const otherLinks = document.getElementsByClassName("nav-link");
  const communityLinks = document.getElementsByClassName("communityactive");

  // 커뮤니티 링크에 active 클래스 추가, 다른 링크에서 active 클래스 제거
  for (const link of otherLinks) {
    link.classList.remove("active");
  }

  for (const link of communityLinks) {
    link.classList.add("active");
  }
    // DOM 요소 가져오기
    const otherMLinks = document.getElementsByClassName("nav-linkM");
  const communityMLinks = document.getElementsByClassName("communityactiveM");

  // 커뮤니티 링크에 active 클래스 추가, 다른 링크에서 active 클래스 제거
  for (const link of otherMLinks) {
    link.classList.remove("active");
  }

  for (const link of communityMLinks) {
    link.classList.add("active");
  }
</script>


<span id="community-side">
  <div class="list-tile look1">다른 게시물 보기</div>
  <ul class="list1">
    <% if (otherPostResult && otherPostResult.length > 0) { %>
      <% for (let i = 0; i < otherPostResult.length; i++) { %>
        <div class="look">
          <a href="/community/write/<%= otherPostResult[i].board_id %>">
          <li><%= otherPostResult[i].title %></li>
          </a>
        </div>
      <% } %>    
    <% } else { %>
      <li>No posts found</li>
    <% } %> 
  </ul>
  
  <div class="list-tile look2">나의 작성글 보기</div>
  <ul class="list1">
    <% if (myPostResult && myPostResult.length > 0) { %>
      <% for (let i = 0; i < myPostResult.length; i++) { %>
        <div class="look">
          <a href="/community/write/<%= myPostResult[i].board_id %>">
          <li><%=myPostResult[i].title %></li> 
          </a>
        </div>        
      <% } %> 
    <% } else { %>
      <li>No posts found</li>
    <% } %>
  </ul>
</span>