<head>
  <link href="/css/community-side.css" rel="stylesheet">
</head>

<div id="community-side">
  <div class="list-tile look1">다른 게시물 보기</div>
  <ul class="list1">
    <li></li>
    <li>저의 취미 공유해요</li>
  </ul>
  <div class="list-tile look2">나의 작성글 보기</div>
  <ul class="list1">

  </ul>
</div>