<head>
  <link href="/css//community/community-side.css" rel="stylesheet">
</head>

<span id="community-side">
  <div class="list-tile look1">다른 게시물 보기</div>
  <ul class="list1">
    <% if (otherPostResult && otherPostResult.length > 0) { %>
      <% otherPostResult.forEach((post) => { %>
        <li><%= post.title %></li>
      <% }) %>
    <% } else { %>
      <li>No posts found</li>
    <% } %> 
  </ul>
  
  <div class="list-tile look2">나의 작성글 보기</div>
  <ul class="list1">
    <% if (myPostResult && myPostResult.length > 0) { %>
      <% myPostResult.forEach((post) => { %>
        <li><%= post.title %></li>
      <% }) %>
    <% } else { %>
      <li>No posts found</li>
    <% } %>
  </ul>
</span>