<head>
    <link href="/css/community/commun_write.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  
  
  <!-- MAIN SECTION -->
  <div class="community_wrapper">  
  
    <div class="selection">
      <button class="select1" type="button" value="1">   
        <label>
          <span>고민상담소</span>
        </label> 
      </button>
  
      <button class="select2" type="button" value="2">   
        <label>
          <span>정보 공유</span>
        </label> 
      </button>      
    </div>   
    
  
    <div class="community_container">
        <div class="categoryTitle"> <p> 작성 글 </p> </div>
      
        <div class="write_wrapper">
        
        </div>

        <div class="buttons"> 
            <button class="cancel" type="button" value="1">   
                <label>
                  <span>최소</span>
                </label> 
            </button>
            <button class="submit" type="button" value="2">   
                <label>
                  <span>글 등록</span>
                </label> 
            </button>
        </div>
        
      
        
    </div>
  
        
  </div>