<head>
  <link href="/css/community.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>




<!-- MAIN SECTION -->
<div class="community_wrapper">  

  <div class="selection">
    <button class="select1" type="button" value="1">   
      <label>
        <span>고민상담소</span>
      </label> 
    </button>

    <button class="select2" type="button" value="2">   
      <label>
        <span>정보 공유</span>
      </label> 
    </button>      
  </div>   
  

  <div class="community_container">
    <div class="top">
      <div class="title"> <p> 게시글 </p> </div>

    </div>
    <div class="bottom">
      <div class="title"> <p> 나의 작성글 보기 </p> </div>

    </div>
    
      
  </div>

      
</div>