 <!-- ======= symtom_check ======= -->
          <div class="col-lg-6 pt-lg-0 order-2 order-lg-1">
            <div class = "symtom_check">
              <div>
                <div class = "symtom_check_left">
                  <div class="date">
                    <p> 날짜 </p>
                  </div>
    
                  <div class="date">
                    <p> 병원 일정 </p>
                  </div>
    
                  <div class="date">
                    <p> 알림 </p>
                  </div>
    
                  <div class="date">
                    <p> 체크사항 </p>
                  </div>
                </div>
                <div class = "symtom_check_left">
                  <div class="date">
                    <p> 날짜 </p>
                  </div>
    
                  <div class="date">
                    <p> 병원 일정 </p>
                  </div>
    
                  <div class="date">
                    <p> 알림 </p>
                  </div>
    
                  <div class="date">
                    <p> 체크사항 </p>
                  </div>
                </div>
                
              </div>
              

            </div>
          </div>
