

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
       
    <h1>치즈:치매가디언즈</h1>
    <h3></h3>
 <form class="user" method="POST">
        <form class="user" method="POST">
                <div class="form-group">
                    <div class="text-center">
                        아이디를 입력해주세요
                    </div>
                    <input type="text" class="form-control form-control-user"
                        id="username" name="username" aria-describedby="emailHelp"
                        placeholder="cheese@#####.com">
                </div>
                <div class="form-group">
                    <div class="text-center">
                        비밀번호를 입력해주세요
                    </div>
                    <input type="password" class="form-control form-control-user"
                        id="password" name="password" placeholder="Password">
                </div>
                <br/><br/><br/>
                <input type="submit" value="login" class="btn btn-success btn-user btn-block">
        </form>
    </form>

                                    
                                         

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

