
    <h1>치즈:치매가디언즈</h1>
    <h3></h3>
    <style>
        form{
            width: 550px;
            float :right;
            margin-right: 200px;
            margin-top:242px;
        }

        p{
            margin-bottom : 10px;
            margin-top :0px;
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 27px;
        }
        input{
            border: 2px solid #D9D9D9;
            width : 525px;
            height : 75px;
            border-radius: 15px;
            margin-bottom: 34px;
        }

        button{
            background-color: #ABF18B;
            border: none;
            width: 525px;
            height: 75px;
            border-radius: 15px;

            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 800;
            font-size: 30px;
            line-height: 41px;
            color: #FFFFFF;

            margin-top : 40px;
        }

        h1{      
            position: absolute;
            width: 194px;
            height: 54px;
            left: 202px;
            top: 168px;

            display: inline-block;
            font-family: 'Noto Sans';
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 54px;

            color: #ABF18B;

        }
    </style> <form class="user" method="POST">
        <form class="user" method="POST">
                <div class="form-group">
                    <div class="text-center">
                        아이디를 입력해주세요
                    </div>
                    <input type="text" class="form-control form-control-user"
                        id="username" name="username" aria-describedby="emailHelp"
                        placeholder="cheese@#####.com">
                </div>
                <div class="form-group">
                    <div class="text-center">
                        비밀번호를 입력해주세요
                    </div>
                    <input type="password" class="form-control form-control-user"
                        id="password" name="password" placeholder="Password">
                </div>
                <br/><br/><br/>
                <input type="submit" value="login" class="btn btn-success btn-user btn-block">
        </form>
    </form>

                                    
                                         