<head>
  <link href="/css/login.css" rel="stylesheet">
  <link href="/css/signup.css" rel="stylesheet">
</head>

<!-- <h1>Login</h1> -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div  class="container">
      <div class="row">
       
        <div class="margin 0 auto">
          
  
    <h3></h3>
    <form class="user" method="POST">
            <form class="user" method="POST">
              <div class="cc">
              <div class="c1">
              <div id="logintext">Sign Up</div>
                    <div class="form-group">
                        <div class="logininfo">
                            아이디
                        </div>
                        <input type="text" class="form-control form-control-user"
                            id="username" name="username" aria-describedby="emailHelp"
                            placeholder="cheese@#####.com">
                        </div>
                        <div class="form-group">
                            <div class="logininfo">
                                비밀번호
                            </div>
                            <input type="password" class="form-control form-control-user"
                                id="password" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                          <div class="logininfo">
                              비밀번호 확인
                          </div>
                          <input type="password" class="form-control form-control-user"
                              id="password" name="password" placeholder="Password">
                      </div>
                  <div class="form-group">
                    <div class="logininfo">
                        전화번호
                    </div>
                    <input type="number" class="form-control form-control-user"
                        id="password" name="password" placeholder="010-0000-0000">
                </div>
                <div class="form-group">
                  <div class="logininfo">
                      환자와의 관계
                  </div>
                  <input type="text" class="form-control form-control-user"
                      id="password" name="password" placeholder="자녀">
              </div>
              <div class="form-group">
                <div class="logininfo">
                    회원 이름
                </div>
                <input type="text" class="form-control form-control-user"
                    id="password" name="password" placeholder="홍길동">
            </div></div>
            <div class="c2">
            <div class="form-group">
              <div class="logininfo">
                  환자 이름
              </div>
              <input type="text" class="form-control form-control-user"
                  id="password" name="password" placeholder="홍길동">
          </div>            
          <div class="form-group">
            <div class="logininfo">
                환자 생년월일
            </div>
            <input type="number" class="form-control form-control-user"
                id="password" name="password" placeholder="YYYYMMDD">
        </div>
        <div class="form-group">
          <div class="logininfo">
             환자 성별
          </div>
          <input type="text" class="form-control form-control-user"
              id="password" name="password" placeholder="여">
      </div>
      <div class="form-group">
        <div class="logininfo">
           환자 치매 등급
        </div>
        <input type="text" class="form-control form-control-user"
            id="password" name="password" placeholder="3등급">
    </div>
    <div class="form-group">
      <div class="logininfo">
          환자 복용약
      </div>
      <input type="text" class="form-control form-control-user"
          id="password" name="password" placeholder="타이레놀..ㅎㅎ">
  </div>
  <div class="form-group">
    <div class="logininfo">
        환자 주소
    </div>
    <input type="text" class="form-control form-control-user"
        id="password" name="password" placeholder="시">
        <input type="text" class="form-control form-control-user"
        id="password" name="password" placeholder="군/구">
        <input type="text" class="form-control form-control-user"
        id="password" name="password" placeholder="상세주소">
</div></div></div>
                    <br/><br/><br/>
                    <div class="submit_btn">
                      <input type="submit" value="login" id="loginsubmit" class="btn btn-success btn-user btn-block">
                    </div>
            </form>
        </form>

                                    
                                        
        </div>
      </div>
    </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

                                   