.community-container {
    width : 70%;
    height : 80vh;
    position: relative;
    background-color: red;
    left: 30%;
    top: 15%;
}
.counseling{
    width: 100px;
    height: 30px;
    text-align: center;
    display: inline-block;
    border-radius: 7px;
    background-color: #DEF1A1;
}
.sharing{
    width: 100px;
    height: 30px;
   display: inline-block;
   text-align: center;
    border-radius: 7px;
    background-color: #DEF1A1;
}
.writing-container {
    position: absolute;
    top: 10%;
    height: 400px;
    width: 600px;
    margin-left: 15%;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 15px;
}