.diagnosis_wrapper {
    /* height: 550px; */
    height: 90vh;
  }

  .diagnosis_container {
    background-color: white;
    border-color: #E0E0E0;
    border-style: solid;
    border-width: 2px;
    border-radius: 3%;

    margin: 0 auto;
    top: 20%;
    position: relative;
    display: flex; /* Flexbox로 변경 */
    flex-direction: column; /* 세로 방향으로 배치 */
  }
  #date-input{
    margin-top:100px;
  }

  .content-container {
    display: flex; /* Flexbox로 변경 */
    flex-direction: row; /* 가로 방향으로 배치 */
    flex: 1; /* 세로 방향으로 컨테이너를 채우도록 설정 */
  }

  .left, .center, .right {
    flex: 1; /* 각 열이 동일한 크기로 나눠짐 */
    padding: 10px; /* 각 열의 여백 */
    display: flex; /* 열 내부 컨텐츠 정렬에 Flexbox 사용 */
    align-items: center; /* 세로 방향으로 가운데 정렬 */
    justify-content: center; /* 가로 방향으로 가운데 정렬 */
  }
  .center, .right {
    margin-left: -2%;
    margin-top: 5%;
  }

  .box {
    width: 80%;
    height: 40%;
    border: 2px solid #B3CC62;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boxText {
    text-align: center;
  }

  .PDFpageBtn {
    margin-top: 20px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #B3CC62;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    background-color: white;
  }




  .left, .center, .right {
    flex: 1; /* 각 열이 동일한 크기로 나눠짐 */
    padding: 10px; /* 각 열의 여백 */
    padding-top:3%;
    display: flex; /* 열 내부 컨텐츠 정렬에 Flexbox 사용 */
    align-items: center; /* 세로 방향으로 가운데 정렬 */
    justify-content: center; /* 가로 방향으로 가운데 정렬 */
  }

.left{
    display: inline-block;
    width: 25%;
    height: 100%;
    padding-top:5%;
}
.center{
    width: 30%;
    display: inline-block;
    height: 100%;
}
.right{
    width: 30%;
    display: inline-block;
    height: 100%;

}

.box {
    width: 90%;
    height: 40%;
    border: 2px solid #B3CC62;
    padding: 5px;
    margin-top: 10px;
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 정렬: 가운데 */
    align-items: center; /* 수직 정렬: 가운데 */
  }

  .boxtitle{
    font-weight: 1000;
  }

  .PDFpageBtn {
    margin-top: 20px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    border: 2px solid #B3CC62;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right:5%;
    background-color: white;
  }

.choose {
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center; 
    align-items: center; /* 세로 중앙 정렬 */
    height: 10vh; 
  }

  #date-input {
    border-radius: 20px;
    font-weight: bold;
    padding: 5px;
    text-align: center;
  }

.send{
    float:right;
    right:0%;
}
.sendme{
    margin: 2%;
}

#monthInput{
    width: 50%;
}


/* 작은 화면 (모바일) */
@media (max-width: 767px) {
  .diagnosis_container {
    width: 95%;
    height: 70%;

    font-size: 13px;
  }
  .title {
    font-size: 18px;
    font-weight: 1000;
    margin: 5%;
  }
  .dateChoose{
    font-size: 17px;
    font-style:bold;
    width: 100%;
    text-align: center;
  }
  .left{
    font-size: 10px;
  }
  .titleDiagnosis{
    font-size: 18px;
    font-weight: 1000;
}
  .subtitleDiagnosis{
      font-size:10px;
      margin-top: 10px;
  }
  .button-container {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-top:30%;
  }
  .boxText {
    font-size: 10px;
    text-align: center;
  }
}

/* 중간 화면 (타블렛) */
@media (min-width: 768px) and (max-width: 991px) {
  .diagnosis_container {
    width: 80%;
    height: 70%;

    font-size: 15px;
  }
  .title {
    font-size: 25px;
    font-weight: 1000;
    margin: 70px;
  }
  .dateChoose{
    font-style:bold;
    width: 100%;
    text-align: center;
  }
  .titleDiagnosis{
    font-size:20px;
    font-weight: 1000;
  }
  .subtitleDiagnosis{
    font-size:10px;
    margin-top: 10px;
  }
  .button-container {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-top:50px;
  }
  .boxText {
    text-align: center;
  }
}

/* 큰 화면 (데스크톱) */
@media (min-width: 992px) {
  .diagnosis_container {
    width: 50%;
    height: 70%;

    font-size: 15px;
  }
  .title {
    font-size: 25px;
    font-weight: 1000;
    margin: 70px;
  }
  .dateChoose{
    font-style:bold;
    width: 100%;
    text-align: center;
  }
  .titleDiagnosis{
    font-size:20px;
    font-weight: 1000;
  }
  .subtitleDiagnosis{
    font-size:10px;
    margin-top: 10px;
  }
  .button-container {
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
    margin-top:50px;
  }
  .boxText {
    text-align: center;
  }

}
