#header #navbar {
  visibility: hidden;
}

body {
  background-color: white;
}

.pdfContent_container {
  height: 300vh;
  top: 190px;
  width: 50%;
  margin: 0 auto;
  margin-top:10%;
  /* background-color: aqua; */
  display:flex;
  flex-direction: column;
}

.title_container{
  display:flex;
  height:100vh;
}

.title2{
  margin-left:auto;
}
.grid_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 20px;
}
.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.cell {
  width: 100%;
  height: 30vh;
}

.cell_container{
  border: 1px solid gray;
  margin: 10px;
  border-radius: 10px;
  height:80%;
}
.cell-wide {
  grid-column: span 2; /* 두 개의 열을 차지하도록 설정 */
  width: 100%;
  height: 30vh;

}
.row-name {
  width: 100%;
  height: 30px;
  font-weight: bold;
  margin-left:10px;
  margin-top: 5px;
  margin-bottom:-5px;
}