.reminder_container {
    background-color: white;
    border-color: #E0E0E0;
    border-style: solid;
    border-width: 2px;
    border-radius: 3%;
    margin: 0 auto;
    top: 20%;
    position: relative;
    padding-top: 20px;
    text-align: center;
}

#medicationInputs {
    position: relative;
    margin: 0 auto;
}

.medicine_reminder {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button {
    box-sizing: border-box;
    width: 50px;
    height: 30px;
    left:50%;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    border: 0.4px solid #000000;
    border-radius: 46px;
    text-align: center;
    font-size: 15px;
}
input {
    display:block;
    margin-top: 10%;
}
.AddBtn {
    right:30px;
    margin-right:0px;
} 
.medi_submitBtn {
    left: 90%;
    position: absolute;
    top: 95%;
}
.medi_deleteBtn {
    left: 90%;
    position: absolute;
    top: 100%;
    margin-top: 20%;
}

/* .reminder_submitBtn{
    width:10%;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 80%;
}

/* 작은 화면 (모바일) */
@media (max-width: 767px) {
    .reminder_wrapper {
        height: 95vh;
    }

    .reminder_container {
        width: 90%;
        height: 550px;
        padding-top: 0px;
        text-align: center;
    }

    .medicine_reminder {
        font-size: 20px;
        width: 60%;
        margin: 0 auto;
        top: 10%;
    }

    input {
        margin-left: -5%;
    }

    #medi_submitBtn {
        font-size: 15px;
    }

    #clear_submitBtn {
        font-size: 15px;
    }

    #medicationInputs {
        font-size: 18px;
    }
}
  
/* 큰 화면 (데스크톱) */
@media (min-width: 992px) {
    .reminder_wrapper {
        height: 90vh;
    }

    .reminder_container {
        width: 700px;
        height: 550px;
        font-size: 15px;
        margin: 0 auto;
        top: 20%;
        position: relative;
        padding-top: 20px;
        text-align: center;
    }

    .medicine_reminder {
        font-size: 20px;
        width: 50%;
        margin: 0 auto;
        top: 20%;   
    }

    input {
        margin-left: 10%;
    }
    
}