<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>치즈:치매가디언즈</title>
    
    <!-- Favicons -->
    <link href="../img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="/css/pdf.css" rel="stylesheet">
</head>
<body>
    <div class="pdfContent_container">
        <div class="title" style="font-weight: bold; font-size: 18px;">
            <p>간호 다이어리 통계</p>
        </div>
        <div class="title2" style="margin-left: auto;">
            <p>6월 1일~ 6월 28일</p>
        </div>
        <div class="content-container">
            <div class="grid-container" style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px; padding: 20px;">
                <div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
                    <div class="cell" style="width: 100%; height: 30vh;">
                        <div class="row-name" style="width: 100%; height: 30px; font-weight: bold; margin-left: 10px; margin-top: 5px; margin-bottom: -5px;">전체 통계</div>
                        <div class="cell_container" style="border: 1px solid gray; margin: 10px; border-radius: 10px; height: 80%;"></div>
                    </div>
                    <div class="cell" style="width: 100%; height: 30vh;">
                        <div class="row-name" style="width: 100%; height: 30px; font-weight: bold; margin-left: 10px; margin-top: 5px; margin-bottom: -5px;"></div>
                        <div class="cell_container" style="border: 1px solid gray; margin: 10px; border-radius: 10px; height: 80%;"></div>
                    </div>
                </div>
                <div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
                    <div class="cell" style="width: 100%; height: 30vh;">
                        <div class="row-name" style="width: 100%; height: 30px; font-weight: bold; margin-left: 10px; margin-top: 5px; margin-bottom: -5px;">세부 통계</div>
                        <div class="cell_container" style="border: 1px solid gray; margin: 10px; border-radius: 10px; height: 80%;"></div>
                    </div>
                    <div class="cell" style="width: 100%; height: 30vh;">
                        <div class="row-name" style="width: 100%; height: 30px; font-weight: bold; margin-left: 10px; margin-top: 5px; margin-bottom: -5px;"></div>
                        <div class="cell_container" style="border: 1px solid gray; margin: 10px; border-radius: 10px; height: 80%;"></div>
                    </div>
                </div>
                <div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
                    <div class="cell" style="width: 100%; height: 30vh;">
                        <div class="row-name" style="width: 100%; height: 30px; font-weight: bold; margin-left: 10px; margin-top: 5px; margin-bottom: -5px;">주차별 통계</div>
                        <div class="cell_container" style="border: 1px solid gray; margin: 10px; border-radius: 10px; height: 80%;"></div>
                    </div>
                    <div class="cell" style="width: 100%; height: 30vh;">
                        <div class="row-name" style="width: 100%; height: 30px; font-weight: bold; margin-left: 10px; margin-top: 5px; margin-bottom: -5px;"></div>
                        <div class="cell_container" style="border: 1px solid gray; margin: 10px; border-radius: 10px; height: 80%;"></div>
                    </div>
                </div>
                <div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
                    <div class="cell" style="width: 100%; height: 30vh;">
                        <div class="row-name" style="width: 100%; height: 30px; font-weight: bold; margin-left: 10px; margin-top: 5px; margin-bottom: -5px;"></div>
                        <div class="cell_container" style="border: 1px solid gray; margin: 10px; border-radius: 10px; height: 80%;"></div>
                    </div>
                    <div class="cell" style="width: 100%; height: 30vh;">
                        <div class="row-name" style="width: 100%; height: 30px; font-weight: bold; margin-left: 10px; margin-top: 5px; margin-bottom: -5px;"></div>
                        <div class="cell_container" style="border: 1px solid gray; margin: 10px; border-radius: 10px; height: 80%;"></div>
                    </div>
                </div>
                <div class="row" style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px;">
                    <div class="cell-wide" style="grid-column: span 2; width: 100%; height: 30vh;">
                        <div class="row-name" style="width: 100%; height: 30px; font-weight: bold; margin-left: 10px; margin-top: 5px; margin-bottom: -5px;">관찰 일기 요약</div>
                        <div class="cell_container" style="border: 1px solid gray; margin: 10px; border-radius: 10px; height: 80%;">
                            <% if (diaryBox && diaryBox.length > 0) { %>
                                <% for (let i = 0; i < diaryBox.length; i++) { %>
                                    <p style="font-size: 14px;"><%= i+1 %>주차</p>  
                                    <p style="font-size: 12px;"><%= diaryBox[i] %></p>
                                <% } %>
                            <% } else { %>
                                <h1>No diaryBox Available</h1>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>