<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>치즈:치매가디언즈</title>
    
    <!-- Favicons -->
    <link href="../img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="/css/pdf.css" rel="stylesheet">
    <style>
        #header #navbar {
            visibility: hidden;
        }

        body {
            background-color: white;
        }

        .pdfContent_container {
            height: 300vh;
            top: 190px;
            width: 50%;
            margin: 0 auto;
            margin-top: 10%;
            /* background-color: aqua; */
            display: flex;
            flex-direction: column;
        }

        .title_container {
            display: flex;
            height: 100vh;
        }

        .title2 {
            margin-left: auto;
        }

        .grid_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            padding: 20px;
        }

        .row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;
        }

        .cell {
            width: 100%;
            height: 30vh;
        }

        .cell_container {
            border: 1px solid gray;
            margin: 10px;
            border-radius: 10px;
            height: 80%;
        }

        .cell-wide {
            grid-column: span 2; /* 두 개의 열을 차지하도록 설정 */
            width: 100%;
            height: 30vh;
        }

        .row-name {
            width: 100%;
            height: 30px;
            font-weight: bold;
            margin-left: 10px;
            margin-top: 5px;
            margin-bottom: -5px;
        }
    </style>
</head>
<body>
    <div class="pdfContent_container">
        <div class="title">
          <p>간호 다이어리 통계</p>
        </div>
        <div class="title2">
          <p>6월 1일~ 6월 28일</p>
        </div>
        <div class="content-container">
          <div class="grid-container">
              <div class="row">
                <div class="cell">
                    <div class="row-name">전체 통계</div>
                    <div class="cell_container">

                    </div>
                </div>
                <div class="cell">
                    <div class="row-name"></div>
                    <div class="cell_container">

                    </div>
                </div>
              </div>
              <div class="row">
                <div class="cell">
                    <div class="row-name">세부 통계</div>
                    <div class="cell_container">

                    </div>
                </div>
                <div class="cell">
                    <div class="row-name"></div>
                    <div class="cell_container">

                    </div>
                </div>
              </div>
              <div class="row">
                <div class="cell">
                    <div class="row-name">주차별 통계</div>
                    <div class="cell_container">

                    </div>
                </div>
                <div class="cell">
                    <div class="row-name"></div>
                    <div class="cell_container">

                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <div class="row-name"></div>
                        <div class="cell_container">

                        </div>
                    </div>
                    <div class="cell">
                        <div class="row-name"></div>
                        <div class="cell_container">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell-wide">
                        <div class="row-name">관찰 일기 요약</div>
                        <div class="cell_container">
                            <% if (diaryBox && diaryBox.length > 0) { %>
                                <% for (let i = 0; i < diaryBox.length; i++) { %>
                                    <p><%= i+1 %>주차</p>  
                                    <p><%= diaryBox[i] %></p>
                                <% } %>
                              <% } else { %>
                                <h1>No diaryBox Available</h1>
                              <% } %>
                              
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</body>
</html>