<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>치즈:치매가디언즈</title>
    
    <!-- Favicons -->
    <link href="../img/favicon.png" rel="icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="/css/pdf.css" rel="stylesheet">
</head>
<body>
    <div class="pdfContent_container">
        <div class="title">
          <p>간호 다이어리 통계</p>
        </div>
        <div class="title2">
          <p>6월 1일~ 6월 28일</p>
        </div>
        <div class="content-container">
          <div class="grid-container">
              <div class="row">
                <div class="cell">
                    <div class="row-name">전체 통계</div>
                    <div class="cell_container">

                    </div>
                </div>
                <div class="cell">
                    <div class="row-name"></div>
                    <div class="cell_container">

                    </div>
                </div>
              </div>
              <div class="row">
                <div class="cell">
                    <div class="row-name">세부 통계</div>
                    <div class="cell_container">

                    </div>
                </div>
                <div class="cell">
                    <div class="row-name"></div>
                    <div class="cell_container">

                    </div>
                </div>
              </div>
              <div class="row">
                <div class="cell">
                    <div class="row-name">주차별 통계</div>
                    <div class="cell_container">

                    </div>
                </div>
                <div class="cell">
                    <div class="row-name"></div>
                    <div class="cell_container">

                    </div>
                </div>
                </div>
                <div class="row">
                    <div class="cell">
                        <div class="row-name"></div>
                        <div class="cell_container">

                        </div>
                    </div>
                    <div class="cell">
                        <div class="row-name"></div>
                        <div class="cell_container">

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="cell-wide">
                        <div class="row-name">관찰 일기 요약</div>
                        <div class="cell_container">
                            <% if (diaryBox && diaryBox.length > 0) { %>
                                <h1>diaryBox:</h1>
                                <% for (let i = 0; i < diaryBox.length; i++) { %>
                                  <p><%= diaryBox[i] %></p>
                                <% } %>
                              <% } else { %>
                                <h1>No diaryBox Available</h1>
                              <% } %>
                              
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
    <script>
        // 페이지 로드 후 3초 후에 /export/pdf 로 리디렉션
        setTimeout(function() {
            window.location.href = '/export/pdf';
        }, 1000);
    </script>
</body>
</html>