/* 추가 */
/* HERO SECTION */

#hero2 {
  padding:0;
}
.jb-division-line {
  /* position: relative;
  content: "◆"; */
  border-top: 4px solid #B3CC62;
  margin: 30px auto;
  margin-left: 15%;
  width: 75%;
}
  input{
    border: 2px solid #B3CC62;
    border-radius: 15px;
    display: inline-block;
  }
  #inputbox{
    border: 2px solid #B3CC62;
    width : 100%;
    height : 75px;
    border-radius: 15px;
    display: inline-block;
  }

  #intputbox{
    border: 2px solid #B3CC62;
    width : 100%;
    height : 75px;
    border-radius: 15px;
    margin-bottom: 2%;
    display: inline-block;
  }
  
  /* MAIN SLIDER */
  main .wrapper #slider {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    border-radius: 20px;
  }
  
  main .wrapper #slider .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  main .wrapper #slider .slide1 {
     background-image: url(/img/about.png); 
  }
  
  main .wrapper #slider .slide2 {
    background-image: url(../uploads/1684173909515.JPG);
  }
  
  main .wrapper #slider .slide3 {
    background-image: url(/img/about.png);
  }
  
  main .wrapper #slider .slide4 {
    background-image: url(/img/about.png);
  }
  
  main .wrapper #slider .slide5 {
    background-image: url(/img/about.png);
  }
  
  main .wrapper #slider .slide6 {
    background-image: url(/img/about.png);
  }
  
  main .wrapper #slider .slide__content {
    width: 100%;
    height: 50vh;
    margin-right: 10%;
    display: inline-block;
  }
  
  main .wrapper #slider .slide__content span {
    font-size: 80px;
    color: #F6F5F0;
  }
  
  /* SLIDER ARROW */
  main .wrapper #slider .material-icons {
    justify-content: center;
    position: absolute;
    top: 35%;
    margin-top: -10%;
    font-size: 80px;
    color: #F6F5F0;
  }
  
  main .wrapper #slider .arrow {
    cursor: pointer;
    position: absolute;
    top: 35%;
    width: 0;
    height: 0;
  }
  
  /* SLIDER DOTS */
  main .wrapper #slider .dots {
    position: absolute;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main .wrapper #slider .dots .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #F6F5F0;
    margin: 0 3px;
    cursor: pointer;
  }
  
  main .wrapper #slider .dots .dot1 {
    background: #b3cc62;
  }
  
  #memTextBtn{
    display: inline-block;
    margin: 0 auto;
  }
  #memTextBtn p{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  /* 작은 화면 (모바일) */
@media (max-width: 767px) {
  main {
    height: 270vh;
    position: relative;
  }

  main .wrapper {
    justify-content: center;
    display: inline-block;  
    width: 100%;
  }
  /* form{
    margin: 0 auto;
  } */

  /* MAIN SLIDER */
  #about{
    width: 100%;
    margin: 0 auto;
    padding: 5%;
    height: auto;
  }

  .ininin{
    display: inline-block;  
    width: 100%;
    height: 5%;
    margin-top: 10%;
  }
  #userDiaryBox,#userDailyDiaryBox{
    width:100%;
    margin-left: 0%;
  }
  #userDiaryBox {
    margin-bottom: 5%;
   }
  
  /* SLIDER ARROW */
  main .wrapper #slider .arrow--left {
    left: 2%;
    margin-bottom: 10%;
  }
  
  main .wrapper #slider .arrow--right {
    right: 2%;
    margin-bottom: 10%;
  }
   /*슬라이더 화살표*/
   main .wrapper #slider .material-icons {
    top: 22%;
  }
  /*슬라이더 dot*/ /* SLIDER DOTS */
  main .wrapper #slider .dots {
    bottom: 57%;
    /* top: 40%; */
    right: 32%;
  }
  main .wrapper #slider {
    width: 50vh;
    height: 50vh;
    overflow: hidden;
    border-radius: 20px;
  }
}

/* 중간 화면 (타블렛) */
@media (min-width: 768px) and (max-width: 991px) { 
  main {
      height: 250vh;
      position: relative;
  }
    main .wrapper {
    justify-content: center;
    display: inline-block;  
    width: 100%;
  }
  /* form{
    margin: 0 auto;
  } */

  .ininin{
    display: inline-block;  
    width: 100%;
    height: 5%;
    margin-top: 10%;
  }
  #userDiaryBox {
    margin-bottom: 100px;
   }

  /* MAIN SLIDER */
  #about{
    width: 100%;
    margin: 10%;
  }
  /* SLIDER DOTS */
  main .wrapper #slider .dots {
    bottom: 53%;
    right: 42%;
  }
  /* SLIDER ARROW */
  main .wrapper #slider .arrow--left {
    left: 5%;
    margin-bottom: 10%;
  }    
  main .wrapper #slider .arrow--right {
    right: 5%;
    margin-bottom: 10%;
  }


   /*슬라이더 화살표*/
   main .wrapper #slider .material-icons {
    top: 30%;
  }

}

@media (max-width: 767px) {
  #userDiaryBox {
    height: 100%;
  }
}
/* 큰 화면 (데스크톱) */
@media (min-width: 992px) {
  main {
    /* height: 100vh; */
    position: relative;
  }
  main .wrapper {
    justify-content: center;
    display: inline-block;  
    width: 100%; 
    margin-left: 15%;    
  }
  
  /* form{
    margin-left: -50%;
    width: 500px;
    float :right;
    margin: 0 auto;
  } */

  /* MAIN SLIDER */
  #about{
    width: 100%;
    margin-top: 3%;
    margin-left: 8%;
    padding: 3%;
    display:flex;
  }
  /* SLIDER DOTS */
  main .wrapper #slider .dots {
    /* bottom: 40%; */
    top: 40%;
    left: 0;
    right: 42%;
  }
  /* SLIDER ARROW */
    main .wrapper #slider .arrow--left {
    left: 9%;
    margin-bottom: 10%;
  }
  
  main .wrapper #slider .arrow--right {
    right: 52%;
    margin-bottom: 10%;
  }

  /*파일 선택*/
  .ininin{
    display: inline-block;  
    width: 95%;
    margin-left: 5%;
    margin-top: 5%;
  }
  #userDiaryBox,#userDailyDiaryBox{
    width:80%;
    margin-left: 20%;
  }
  #userDiaryBox {
    margin-bottom: 100px;
   }
}

#userDiaryBox,#userDailyDiaryBox{
    border:  2px solid #b3cc62;
    border-radius: 20px;
    margin-top: 5%;
    padding-bottom: 5%;
    /* height: 100%; */
    /* width: 70%; */
}

#userDiaryForm,#userDailyDiaryForm{
  border-collapse: collapse;
    width: 100%;
  font-weight:bold;

 }
 #userDiaryForm th, td {
    padding: 10px;
    font-size: large;
   /* text-align: left; */
   /* border-bottom: 1px solid #ddd; */
   
 }
 /* 마인드입력영역 */
 .mindInputArea{
  height:auto;
  margin-top: -2.5%;
 }

 /* 마인드저장버튼 */
 .mindBtn {
  width: 100px;
  height: 30px;
  font-size: 15px;
  color: black; 
  border-style: solid;
  border-width: 1px;
  border-color: #788844;
  margin-right: 20px; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}
  
 #userDiaryForm input[type="text"] {
   width: 100%;
    padding: 6px 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
  }

  #userDiaryForm  textarea,#userDailyDiaryForm textarea {
    width: 100%;
     padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   }

.submitt_btn {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 0;
    
}
#mind_diary_submit{
 
    width: 100px;
    height: 30px;
    font-size: 15px;
    color: black;
    border-style: solid;
    border-width: 1px;
    border-color: #788844;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.diary_title{
  text-align: center;
  font-size: x-large;
  line-height: 50px; 
}