
.container{
  margin: auto;
}

/* 캘린더 */
.scriptCalendar a { color:#000000;text-decoration:none; }
.scriptCalendar { text-align:center; }
.scriptCalendar > thead > tr > td { width:50px;height:50px; }
.scriptCalendar > thead > tr:first-child > td { font-weight:bold; }
.scriptCalendar > thead > tr:last-child > td { background-color:#DEF1A1; }
.scriptCalendar > tbody > tr > td { width:50px;height:50px; }

p{
  margin-bottom : 5px;
  margin-top :5px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  line-height: 27px;
}
.memory_disable {
  /* padding: 5px;
  background: #eee;
  border-radius: 5px; */
  border: 2px solid #B3CC62;
  border-radius: 15px;
  display: inline-block;
  width: 70%;
  margin-left: 5%;
  text-align: center;
}
#inputbox{
  margin-bottom: 10px;
  margin-right:0px;
}
#inputbotton{
  margin-bottom:10px;
}
button{
  color: #DEF1A1;
  border: none;
  width: 525px;
  height: 75px;
  border-radius: 15px;

  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  color: #FFFFFF;

  margin-top : 40px;
}

h1{      
  position: absolute;
  width: 350px;
  height: 54px;
  left: 202px;
  top: 168px;

  display: inline-block;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;

  color: #B3CC62;
}

input:focus {outline:none;}

.material-symbols-outlined {
  cursor: pointer;
  position: relative;
  margin: 0;
  left: 10px;
}

.material-symbols-outlined::before {
  content: ""; /* 내용을 빈 문자열로 초기화 */
  position: absolute;
  top: -30px;
  left: 50%; /* 가운데 정렬을 위해 left 값을 50%로 설정 */
  transform: translateX(-50%); /* left 값의 절반을 왼쪽으로 이동하여 가운데 정렬 */
  background-color: #333;
  color: #fff;
  /* padding: 5px 10px; */
  padding-left: 50%;
  border-radius: 5px;
  font-size: 15px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  /* 수정 */
  /* width: 120px;
  bottom: 150%; */
  /* left: 50%; */
  margin-left: -60px;
  /* padding: 10px; */
  line-height: 20px;
}

.material-symbols-outlined:hover::before,
.material-symbols-outlined:focus::before {
  content: attr(data-tooltip); /* 말풍선 내용 설정 */
  white-space: pre;
  opacity: 1;
  padding: 50%;
}
.data-tooltip {
  background-color: orange;
}
/* 모바일 버전 */
@media (max-width: 767px) {
  .memory_disable{
    width: 65%;
  }
}
.material-symbols-outlined:hover::before,
.material-symbols-outlined:focus::before {
    padding: 3px 6px; /* Adjust padding for smaller screens */
    font-size: 12px; /* Adjust font size for smaller screens */
  }
/* 테블릿 */
@media (min-width: 768px) and (max-width: 991px) {
  #cal_main {
    margin-top: 300px;
  }


  
}
.data-tooltip {
  background-color: orange;
}