/* 추가 */
/* HERO SECTION */

  main {
    height: 100vh;
    position: relative;
  }

  input{
    border: 2px solid #B3CC62;
    border-radius: 15px;
    display: inline-block;
  }
  #inputbox{
    border: 2px solid #B3CC62;
    width : 100%;
    height : 75px;
    border-radius: 15px;
    display: inline-block;
  }

  #intputbox{
    border: 2px solid #B3CC62;
    width : 100%;
    height : 75px;
    border-radius: 15px;
    margin-bottom: 2%;
    display: inline-block;
  }
  
  /* MAIN SLIDER */
  
  main .wrapper #slider {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    border-radius: 20px;
  }
  
  main .wrapper #slider .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  main .wrapper #slider .slide1 {
     background-image: url(/img/about.png); 
  }
  
  main .wrapper #slider .slide2 {
    background-image: url(../uploads/1684173909515.JPG);
  }
  
  main .wrapper #slider .slide3 {
    background-image: url(/img/about.png);
  }
  
  main .wrapper #slider .slide4 {
    background-image: url(/img/about.png);
  }
  
  main .wrapper #slider .slide5 {
    background-image: url(/img/about.png);
  }
  
  main .wrapper #slider .slide6 {
    background-image: url(/img/about.png);
  }
  
  main .wrapper #slider .slide__content {
    width: 100%;
    height: 60vh;
    margin-right: 10%;
    display: inline-block;
  }
  
  main .wrapper #slider .slide__content span {
    font-size: 80px;
    color: #F6F5F0;
  }
  
  /* SLIDER ARROW */
  main .wrapper #slider .material-icons {
    justify-content: center;
    position: absolute;
    top: 50%;
    margin-top: -10%;
    font-size: 80px;
    color: #F6F5F0;
  }
  
  main .wrapper #slider .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 0;
    height: 0;
  }
  
  /* SLIDER DOTS */
  main .wrapper #slider .dots {
    position: absolute;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  main .wrapper #slider .dots .dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #F6F5F0;
    margin: 0 3px;
    cursor: pointer;
  }
  
  main .wrapper #slider .dots .dot1 {
    background: #1107ff;
  }
  
  #memTextBtn{
    display: inline-block;
    margin: 0 auto;
  }
  #memTextBtn p{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  /* 작은 화면 (모바일) */
@media (max-width: 767px) {
  main .wrapper {
    justify-content: center;
    display: inline-block;  
    width: 100%;
  }
  form{
    margin: 0 auto;
  }

  /* MAIN SLIDER */
  #about{
    width: 100%;
    margin: 10%;
    padding: 3%;
  }
  /* SLIDER DOTS */
  main .wrapper #slider .dots {
    bottom: 40%;
    right: 30%;
  }
  /* SLIDER ARROW */
  main .wrapper #slider .arrow--left {
    left: 9%;
    margin-bottom: 10%;
  }
  
  main .wrapper #slider .arrow--right {
    right: 9%;
    margin-bottom: 10%;
  }

  .ininin{
    display: inline-block;  
    width: 100%;
    height: 5%;
    margin-top: 10%;
  }
}

/* 중간 화면 (타블렛) */
@media (min-width: 768px) and (max-width: 991px) { 
  main .wrapper {
    justify-content: center;
    display: inline-block;  
    width: 100%;
  }
  form{
    margin: 0 auto;
  }

  /* MAIN SLIDER */
  #about{
    width: 100%;
    margin: 10%;
  }
  /* SLIDER DOTS */
  main .wrapper #slider .dots {
    bottom: 45%;
    right: 40%;
  }
  /* SLIDER ARROW */
  main .wrapper #slider .arrow--left {
    left: 5%;
    margin-bottom: 10%;
  }    
  main .wrapper #slider .arrow--right {
    right: 5%;
    margin-bottom: 10%;
  }

  .ininin{
    display: inline-block;  
    width: 100%;
    height: 5%;
    margin-top: 10%;
  }
}


/* 큰 화면 (데스크톱) */
@media (min-width: 992px) {
  main .wrapper {
    justify-content: center;
    display: inline-block;  
    width: 100%; 
    margin-left: 15%;    
  }
  
  form{
    margin-left: -50%;
    width: 500px;
    float :right;
    margin: 0 auto;
  }

  /* MAIN SLIDER */
  #about{
    width: 100%;
    margin-top: 3%;
    margin-left: 8%;
    padding: 3%;
    display:flex;
  }
  /* SLIDER DOTS */
  main .wrapper #slider .dots {
    bottom: 40%;
    left: 0;
    right: 42%;
  }
  /* SLIDER ARROW */
    main .wrapper #slider .arrow--left {
    left: 9%;
    margin-bottom: 10%;
  }
  
  main .wrapper #slider .arrow--right {
    right: 52%;
    margin-bottom: 10%;
  }

  /*파일 선택*/
  .ininin{
    display: inline-block;  
    width: 95%;
    margin-left: 5%;
    margin-top: 5%;
  }
}
#userDiaryBox,#userDailyDiaryBox{
    width:60%;
    border:  2px solid #b3cc62;
    border-radius: 20px;
    margin-top: 5%;
    margin-left: 20%;
}

#userDiaryForm,#userDailyDiaryForm{
  border-collapse: collapse;
    width: 100%;
    
 }
 #userDiaryForm th, td,#userDailyDiaryForm th, td {
    padding: 8px;
   text-align: left;
   /* border-bottom: 1px solid #ddd; */
   
 }
 
 #userDiaryForm input[type="text"] {
   width: 100%;
    padding: 6px 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
  }

  #userDiaryForm  textarea,#userDailyDiaryForm textarea {
    width: 100%;
     padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
   }
   #userDiaryBox {
    margin-bottom: 100px;
   }
