<head>
    <link href="/css/reminder.css" rel="stylesheet">
    <!-- <link href="/css/calendar/calendar_memory.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
   
  </head>

<div class="reminder_wrapper">
  <div class="reminder_container" >
    <div class="doctorChoose">의사 선택</div>
    <div class="doctors" style="display:flex;">
    <div class="doctor doctor1">
      <img src="/img/doctor.png">
      <div class="doctorName">박수빈</div>
      <div class="doctorInfo">소속: 성신병원</div>
      <div class="doctorInfo">정신건강의학과</div>
    </div>
    <div class="doctor doctor2">
      <img src="/img/doctor.png">
      <div class="doctorName">한다경</div>
      <div class="doctorInfo">소속: 성신병원</div>
      <div class="doctorInfo">정신건강의학과</div>
    </div></div>
    <form>
      <label>
        <input type="radio" name="option" value="A" onchange="handleRadioChange()" checked /> A
      </label>
      <label>
        <input type="radio" name="option" value="B" onchange="handleRadioChange()" /> B
      </label>
    </form>

    <div class="outFileCalendar">내보낼 캘린더 선택</div>
  </div>
</div>
