<head>
    <link href="/css/reminder.css" rel="stylesheet">
    <!-- <link href="/css/calendar/calendar_memory.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<div class="reminder_wrapper">
  <div class="reminder_container">
    
  </div>
</div>
