<head>
  <link href="/css/reminder.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<div class="reminder_wrapper">
  <div class="reminder_container">
   
      <div class="medicine_reminder">
        복용약 알림
        <button type="button" id="medicationAdd" class="addBtn1 AddBtn">+</button>
        <form id="myForm" action="/reminder/medication" method="POST">
        <div id="medicationInputs">
          <% if (typeof mediResult !== 'undefined' && mediResult !== null && mediResult.length > 0) { %>
            <% for (let i = 0; i < mediResult.length; i++) { %>
              <input type="time" class="symtom-time" name="medi_reminder_time" value="<%= mediResult[i].medi_reminder_time %>">
            <% } %>
          <% } else { %>
            <input type="time" class="symtom-time" name="medi_reminder_time">
          <% } %>
        </div>
        
    
           <div class="medi_submitBtn">
          <input type="submit"  value="저장" id="medi_submitBtn" class="btn btn-success btn-user btn-block">
        </div>
      </form>
        <form id="myForm" action="/reminder/medicationDelete" method="POST">
          <div class="medi_deleteBtn">
            <input type="submit" value="초기화" id="loginsubmit" class="btn btn-success btn-user btn-block">
          </div>
          </form>
      </div>
  </div>
</div>

<script>
  const medicationAddButton = document.getElementById("medicationAdd");
  const medicationInputsContainer = document.getElementById("medicationInputs");

  medicationAddButton.addEventListener("click", function() {
    if (medicationInputsContainer.childElementCount < 6) {
      const input = document.createElement("input");
      input.type = "time";
      input.classList.add("symtom-time");
      input.name = "medi_reminder_time";

      medicationInputsContainer.appendChild(input);
    }
  });
  // hospitalAddButton.addEventListener("click", function() {
  //   if (hospitalInputs.childElementCount < 6) {
  //   const input = document.createElement("input");
  //   input.type = "time";
  //   input.classList.add("symtom-time");

  //   hospitalInputs.appendChild(input);
  //   }
  // });
</script>
