<head>
  <link href="/css/login.css" rel="stylesheet">
  <link href="/css/signup.css" rel="stylesheet">
</head>

<!-- <h1>Login</h1> -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div  class="container1">
      <div class="row">
       
        <div class="margin 0 auto">
          
    <h3></h3>
    <form class="user" action= "/users/signup" method="POST">
            <!-- <form class="user" method="POST"> -->
              <div class="cc">
              <div class="c1">
              <div id="logintext">Sign Up</div>
                    <div class="form-group">
                        <div class="logininfo">
                            * 아이디
                        </div>
                        <input type="text" class="form-control form-control-user"
                            id="username" name="user_id" aria-describedby="emailHelp"
                            placeholder="cheese" required>
                        </div>
                        <div class="form-group">
                            <div class="logininfo">
                                * 비밀번호
                            </div>
                            <input type="password" class="form-control form-control-user"
                                id="password" name="password" placeholder="Password" required>
                        </div>
                        <!-- <div class="form-group">
                          <div class="logininfo">
                              비밀번호 확인
                          </div>
                          <input type="password" class="form-control form-control-user"
                              id="password" name="password" placeholder="Password">
                      </div> -->
                  <div class="form-group">
                    <div class="logininfo">
                        * 전화번호
                    </div>
                    <input type="text" class="form-control form-control-user"
                        id="password" name="gd_phone" placeholder="01012345678" required>
                </div>
                <div class="form-group">
                  <div class="logininfo">
                      * 환자와의 관계
                  </div>
                  <input type="text" class="form-control form-control-user"
                      id="password" name="relationship" placeholder="자녀" required>
              </div>
              <div class="form-group">
                <div class="logininfo">
                    * 회원 이름
                </div>
                <input type="text" class="form-control form-control-user"
                    id="password" name="user_name" placeholder="홍길동" required>
            </div></div>
            <div class="c2">
            <div class="form-group">
              <div class="logininfo">
                  * 환자 이름
              </div>
              <input type="text" class="form-control form-control-user"
                  id="password" name="patient_name" placeholder="신사임당" required>
          </div>            
          <div class="form-group">
            <div class="logininfo">
                * 환자 생년월일
            </div>
            <input type="date" class="form-control form-control-user"
                id="password" name="birth_date" placeholder="YYYY-MM-DD" required>
        </div>
        <div class="form-group">
          <div class="logininfo">
             * 환자 성별
          </div>
          <input type="text" class="form-control form-control-user"
              id="password" name="gender" placeholder="여" required>
      </div>
      <div class="form-group">
        <div class="logininfo">
           * 환자 치매 등급
        </div>
        <input type="text" class="form-control form-control-user"
            id="password" name="dementia_grade" placeholder="3등급" required>
    </div>
    <div class="form-group">
      <div class="logininfo">
          * 환자 복용약
      </div>
      <input type="text" class="form-control form-control-user"
          id="password" name="medicine" placeholder="아리셉트정" required>
  </div>
  <div class="form-group">
    <div class="logininfo">
        * 환자 주소
    </div>
    <input type="text" class="form-control form-control-user"
        id="password" name="address" placeholder="주소" required>
</div></div></div>
                    <br/><br/><br/>
                    <div class="submit_btn">
                      <input type="submit" value="가입 완료" id="loginsubmit" class="btn btn-success btn-user btn-block">
                    </div>
            <!-- </form> -->
        </form>

                                    
                                        
        </div>
      </div>
    </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

                                   