<head>
  <link href="/css/login.css" rel="stylesheet">
  <link href="/css/signup.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<style>
  .dropdown-menu {
      color: white; /* 드롭다운 메뉴의 배경 색상을 흰색으로 설정 */
  }
</style>

<!-- <h1>Login</h1> -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div  class="container1">
      <div class="row">
       
        <div class="margin 0 auto">
          
    <h3></h3>
    <form class="user" action= "/users/signup" method="POST">
            <!-- <form class="user" method="POST"> -->
              <div class="cc">
              <div class="c1">
              <div id="logintext">Sign Up</div>
                    <div class="form-group">
                        <div class="logininfo">
                            * 아이디
                        </div>
                        <input type="text" class="form-control form-control-user"
                            id="username" name="user_id" aria-describedby="emailHelp"
                            placeholder="cheese" required>
                        </div>
                        <div class="form-group">
                            <div class="logininfo">
                                * 비밀번호
                            </div>
                            <input type="password" class="form-control form-control-user"
                                id="password" name="password" placeholder="Password" required>
                        </div>
                        <!-- <div class="form-group">
                          <div class="logininfo">
                              비밀번호 확인
                          </div>
                          <input type="password" class="form-control form-control-user"
                              id="password" name="password" placeholder="Password">
                      </div> -->
                  <div class="form-group">
                    <div class="logininfo">
                        * 보호자 전화번호
                    </div>
                    <input type="text" class="form-control form-control-user"
                        id="password" name="gd_phone" placeholder="010-1234-5678" required>
                </div>
                <div class="form-group">
                  <div class="logininfo">
                      * 환자와의 관계
                  </div>
                  <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" id="relationshipDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          선택하세요
                      </button>
                      <div class="dropdown-menu" aria-labelledby="relationshipDropdown">
                          <a class="dropdown-item" href="#" data-value="자녀">자녀</a>
                          <a class="dropdown-item" href="#" data-value="손주">손주</a>
                          <a class="dropdown-item" href="#" data-value="며느리">며느리</a>
                          <a class="dropdown-item" href="#" data-value="사위">사위</a>
                          <a class="dropdown-item" href="#" data-value="배우자">배우자</a>
                          <a class="dropdown-item" href="#" data-value="형제자매">형제자매</a>
                          <a class="dropdown-item" href="#" data-value="전문가">전문가</a>
                          <a class="dropdown-item" href="#" data-value="부모">부모</a>
                          <a class="dropdown-item" href="#" data-value="친구">친구</a>
                          <a class="dropdown-item" href="#" data-value="이웃">이웃</a>
                          <a class="dropdown-item" href="#" data-value="기타">기타</a>
                      </div>
                  </div>
                  <input type="text" class="form-control form-control-user" id="relationshipInput" name="relationship" placeholder="기타 관계 입력" style="display: none;">
              </div>
              
              <script>
                  $(document).ready(function () {
                      $('.dropdown-item').click(function () {
                          var selectedValue = $(this).data('value');
                          $('#relationshipDropdown').text(selectedValue);
                          if (selectedValue === '기타') {
                              $('#relationshipInput').show();
                              $('#relationshipInput').attr('required', true);
                          } else {
                              $('#relationshipInput').hide();
                              $('#relationshipInput').attr('required', false);
                          }
                      });
                  });
              </script>
              
              <div class="form-group">
                <div class="logininfo">
                    * 회원 이름
                </div>
                <input type="text" class="form-control form-control-user"
                    id="password" name="user_name" placeholder="홍길동" required>
            </div></div>
            <div class="c2">
            <div class="form-group">
              <div class="logininfo">
                  * 환자 이름
              </div>
              <input type="text" class="form-control form-control-user"
                  id="password" name="patient_name" placeholder="신사임당" required>
          </div>            
          <!-- <div class="form-group">
            <div class="logininfo">
                * 환자 생년월일
            </div>
            <input type="date" class="form-control form-control-user"
                id="password" name="birth_date" placeholder="YYYY-MM-DD" required>
        </div> -->
        <!-- <div class="form-group">
          <div class="logininfo">
             * 환자 성별
          </div>
          <input type="text" class="form-control form-control-user"
              id="password" name="gender" placeholder="여" required>
          </div> -->
      <div class="form-group">
        <div class="logininfo">
          환자 치매 등급
        </div>
        <input type="text" class="form-control form-control-user"
            id="password" name="dementia_grade" placeholder="3등급">
      </div>
      <div class="form-group">
        <div class="logininfo">
          환자 전화번호
        </div>
        <input type="text" class="form-control form-control-user"
            id="password" name="patient_phone" placeholder="010-1234-5678">
      </div>
          <!-- <div class="form-group">
            <div class="logininfo">
                * 환자 복용약
            </div>
            <input type="text" class="form-control form-control-user"
                id="password" name="medicine" placeholder="아리셉트정" required>
        </div> -->
          <!-- <div class="form-group">
            <div class="logininfo">
                * 환자 주소
            </div>
            <input type="text" class="form-control form-control-user"
                id="password" name="address" placeholder="주소" required>
        </div> -->
</div></div>
                    <br/><br/><br/>
                    <div class="submit_btn">
                      <input type="submit" value="가입 완료" id="loginsubmit" class="btn btn-success btn-user btn-block">
                    </div>
            <!-- </form> -->
        </form>
                                        
        </div>
      </div>
    </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

                                   