/* body {
    background: rgba(255, 251, 224, 0.3);
} */

#community-side {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 15px;
}
/* 작은 화면 (모바일) */
@media (max-width: 767px) {
    #community-side {
        height: 46%;
        width: 90%;
        position: relative;
  
        margin-top: 10%; 
        margin-left: 5%;  
        display: none;     
    }
    .list-tile {
      width: 120px;
      height: 27px;
      text-align: center;
  
      background: #DEF1A1;
      border-radius: 7px;
      
      margin-top: 3%;
      margin-left: 5%;
      margin-bottom: 2%;
      padding: 1%;
  
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      text-align: center;
      }
  
    .look{
        margin-left: 5%;
        margin-top: 0%;
    }
    li{
        font-size: 12px;
    }

}

/* 중간 화면 (타블렛) */
@media (min-width: 768px) and (max-width: 991px) {
  #community-side {
    height: 40%;
    width: 90%;
    position: relative;
    
    margin-bottom: 10%;
    margin-top: 5%;
    margin-left: 10%;   
    display: none;  
  }
  .list-tile {
    width: 160px;
    height: 34px;
    text-align: center;

    background: #DEF1A1;
    border-radius: 7px;
    
    margin-top: 8%;
    margin-left: 5%;
    margin-bottom: 2%;
    padding: 1%;

    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    }

    .look{
        margin-left: 5%;
        margin-top: 0%;
    }
}

/* 큰 화면 (데스크톱) */
@media (min-width: 992px) {
  #community-side {
      position: relative;
      top: -110px;
      /* top: 100px; */
      left: 80%;
      bottom: 35%;
      /* height: 75vh; */
      width: 300px;
      margin-bottom: 10%;   
      display: inline-block;   
  }

  .list-tile {
      width: 142px;
      height: 34px;
      text-align: center;

      background: #DEF1A1;
      border-radius: 7px;
      
      margin-top: 8%;
      margin-left: 5%;
      margin-bottom: 5%;
      padding: 3%;

      font-style: normal;
      font-weight: 700;
      font-size: 15px;
      text-align: center;

  }

  .look{
      margin-left: 5%;
  }
}
