.community_wrapper {    
    /* height: 550px; */
    height: 190vh;   
}
section{
    position: absolute;
    left: 50%;
    margin-left: 30%;
}

.select1{
    margin-left: 22%;
}

.button1{
  background-color: #DFE1D7;
}

button{
    background-color: #d9ee97;
    color: #000000;
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 15px;
  
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 41px;
    margin-top : 100px;
    margin-left: 10px;
  }

.community_container {
    width: 55%;
    height:85%;
   
    background-color: white;
    border-color: #E0E0E0;
    border-style: solid;
    border-width: 2px;
    border-radius: 3%;
    font-size: 15px;
    margin: 0 auto;
    position: relative;
    margin-top: 10px;
}

.top{
    height: 45%;
}
.bottom{
    height: 55%;
}
/*top*/
.categoryTitle{
    background-color: #DEF1A1;
    color: black;
    
    border: none;
    border-radius: 7px;  
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    text-align:center;

    width: 140px;
    height: 40px;
    position: static;
    padding: 1%;  
    margin-top: 5%;
    margin-left: 10%;  
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 10px;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    /* ㄴ🟡 컬러 상속받아라 */
  }
  .board_wrap {
    width: 80%;
    margin: 2% auto;

  }
  
  
  .bt_wrap {
    margin-top: 30px;
    text-align: center;
    font-size: 0;
    text-align: center;
    margin-bottom: -20%;
  }
  
  .bt_wrap a {
    display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.4rem;
  }
  .bt_wrap a:first-child {
    margin-left: 0;
  }
  
  .bt_wrap a.on {
    background: #000;
    color: #fff;
  }
  .board_list {
    width: 100%;
    /* border-top: 2px solid #000; */
  }
  .board_list > div {
    /* border-bottom: 1px solid #000; */
    font-size: 0;
  }
  /* .board_list > div.top {
    border-bottom: 1px solid #000;
    background-color: #DEF1A1;
  } */
  /* .board_list > div:last-child {
    border-bottom: 1px solid #81c147;
  } */
  .board_list > div > div {
    display: inline-block;
    /* ㄴ 🟡가로배치!!! */
    padding: 15px 0;
    /* ㄴ 🟡모든 픽셀 여백 15px 0 */
    text-align: center;
    font-size: 1.4rem;
    /* ㄴ 🟡부모에다가는 font-size : 0을 줌. */
  }
  
  .board_list > div.top > div {
    font-weight: 600;
  }
  
  /* .board_list .num {
    width: 10%;
  } */
  .board_list .title {
    width: 70%;
    text-align: left;

  }
  .board_list .top .title {
    text-align: center;
  }
  .board_list .time {
    width: 10%;
    margin-right: 20px;
  }
  .board_list .date {
    width: 10%;
    margin-right: 20px;
  }
  .board list .count {
    width: 10%;
    margin-right: 20px;
  }
  .board_page {
    margin-top: 30px;
    /* ㄴ🟡 위로 여백 */
    text-align: center;
    /* ㄴ🟡 가운데정렬로 */
    font-size: 0;
    /* ㄴ🟡 페이지 순서 박스 사이의 여백 없애기 */
  }
  
  .board_page a {
    display: inline-block;
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    /* ㄴ🟡 board_page a.bt과 num 에 패딩값을 넣게 되면서 상자가 길어지게 되는데, 이를 방지 하기 위해서 이 패딩값을 넘지 말아라~ 하는 코딩부분(전체높이 32px를 넘지 않게)*/
    vertical-align: middle;
    /* ㄴ🟡박스 높낮이 같게 */
    border: 1px solid #ddd;
    border-left: 0;
    line-height: 100%;
  }
  
  .board_page a.bt {
    padding-top: 10px;
    font-size: 1.2rem;
    letter-spacing: -1px;
  }
  
  .board_page a.num,.board_page a.num1 {
    padding-top: 9px;
    font-size: 1.4rem;
  }
  
  .board_page a.num.on,.board_page a.num1.on{
    border-color: #D9EE97;
    background: #D9EE97;
    color: #000;
  }
  
  .board_page a:first-child {
    border-left: 1px solid #ddd;
  }
  
  .red {
    color: red;
  }

  .write{
    background-color: #d9ee97;
    color: #000000;
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 15px;
     
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 41px;
    margin-top : 35px;
    margin-left: 80%;
  }